.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    align-content: center;
    /* background-color: #ced19e; */
 

}

.footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-color: #bd9ef1;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;

}

.address{
    margin: 0px;
    font-size: 80%;
    color: #a01111;
}

@media screen and (min-width:600px) {
    
    .abody{
        padding: 0px 100px 0px 100px;
    }
    .row-b{
        margin-left: auto;
    }
    
}

@media screen and (max-width:600px) {
    
    .row-b{
        margin: 0px auto;
    }
    
}